@model SuperZapatosApi.Models.Store

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Store</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            Addres
        </dt>

        <dd>
            @Html.DisplayFor(model => model.addres)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", "List", new { id = Model.StoreID }, new { @class = "btn btn-default" }) |
    @Html.ActionLink("Back to List", "Index", "List", new { @class = "btn btn-default" })
</p>
