<div class="jumbotron">
    Prueba Programada
</div>
<div class="row">
    <div class="col-md-4">
        <p class="">

        </p>
    </div>
    <div class="col-md-4">
       
    </div>
    <div class="col-md-4">
       
    </div>
</div>
