/NetbeansProjects/Appinturas/build/
/NetbeansProjects/asdasd/build/
/NetbeansProjects/dbPracticaExamen/build/
/NetbeansProjects/herenciapractica4/build/
/NetbeansProjects/JavaApplication2/dist/
/NetbeansProjects/Prs/build/
/NetbeansProjects/SopadeLetras/dist/
/NetbeansProjects/Tareaexamenes/build/